@if (course) {
  <div class="course-card" #container>
    <div class="course-title">
      {{ cardIndex || '' + ' ' + course.description }}
    </div>
    @if (course.iconUrl) {
      <ng-content select="course-image"
      ></ng-content>
    }
    <div class="course-description">
      Edit Title: <input #courseTitle [value]="course.description"
      (keyup)="onTitleChanged(courseTitle.value)">
    </div>
    <div class="course-category">
      <div class="category" i18n>

        {
            course.category,
            select,
            BEGINNER {Beginner}
            INTERMEDIATE {Intermediate}
            ADVANCED {Advanced}
        }

    </div>
  </div>
  <button (click)="onSaveClicked(courseTitle.value)">Save Course</button>
</div>
}






