<div class="course-card" *ngIf="course"
    [ngClass]="cardClasses()">
<!-- 
    [ngClass]="{'beginner':true, 'course-card': true}"> -->

    <div class="course-title">
        {{ cardIndex + ' ' + course.description }}
    </div>
    <img width="300" alt="Angular Logo" 
    *ngIf="isImageVisible(); else noImage"
        [src]="course.iconUrl">

    <ng-template #noImage>
        <p>No image available!</p>
    </ng-template>


    <div class="course-description">
        {{ course.description }}
    </div>

    <button (click)="onCourseViewed()">View course</button>
</div>