
.top-menu {
    background: #1976d2;
    padding: 2px 15px;
}

.logo {
  max-height: 55px;
}


.courses {
    max-width: 400px;
    margin: 50px auto 100px auto;
    padding-bottom: 100px;
}

.demo-triggers {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto;
  padding-top: 50px;
}

