<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>

  <div class="demo">


      <button (click)="onEditCourse()" i18n>Edit Course</button>

  </div>

  <div class="courses">

    <course-card *ngFor="let course of  courses  "
                 (courseChanged)="save($event)"
                 type="beginner"
                 [course]="course">

      <course-image [src]="course.iconUrl"></course-image>

    </course-card>


  </div>


</div>




