<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>

  <div class="courses">

    <course-card *ngFor="let course of courses" (courseSelected)="onCourseSelected($event)"
                 [course]="course">


      <course-image [src]="course.iconUrl"
                    *ngxUnless="!course.iconUrl">

      </course-image>

      <div class="course-description">
        {{ course.longDescription }}
      </div>

    </course-card>

  </div>


</div>




