<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>



<div class="courses" *ngIf="courses[0] as course">

    <course-card
            (courseSelected)="onCourseSelected($event)"
                 [course]="course">

        <div class="course-image" >

            <img width="300" alt="Angular Logo"
                 [src]="course.iconUrl">

            <h5>total Lessons: 5</h5>

        </div>

        <div class="course-description">
            {{ course.longDescription }}
        </div>

    </course-card>

    <course-card
            (courseSelected)="onCourseSelected($event)"
            [course]="courses[1]">

        <h5>total Lessons: 10</h5>


    </course-card>


</div>


