

.course-card img {
    border-radius: 4px;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    height: 40px;
    font-size: 20px;
    background: #1a7ce7;
    color: white;
    border-radius: 4px;
}


.course-card.is-first {
  border-top: 2px solid grey;
  padding-top: 20px;
}

.course-card.is-last {
  border-bottom: 2px solid grey;
  padding-top: 20px;
}

.course-card.is-even {
  background: lightgray;
}

.course-card.is-odd {
  background: lightcyan;
}
